:root { --background: #f3a683;
       --base: #303952;
      --accent: #786fa6;
      --shadow: #e77f67; } 

html { background: var(--background);
  display: grid;
  height: 100%;
  place-items: center; } 

.cool { font: bold 3rem/1.2 sans-serif;
  max-width: 20rem;
  span { color: var(--shadow);
    display: inline-block;
    position: relative; 
  @for $i from 1 through 10 
  { &:nth-child(#{$i}) { &::before, &::after { animation-delay: #{$i / 10}s; } } }
    @media (prefers-reduced-motion) { color: var(--base); } &::before 
    { animation: max-height .4s cubic-bezier(0.61, 1, 0.88, 1) 1 normal both; 
      color: var(--accent); } 
    &::after { animation: max-width .7s cubic-bezier(0.61, 1, 0.88, 1) 1 normal both; 
      color: var(--base); } &::before, &::after { content: attr(data-text); 
        left: 0; overflow: hidden; position: absolute; speak: none; 
        @media (prefers-reduced-motion) { animation: none; content: ""; } } } } 
@keyframes max-width { from { max-width: 0; } to { max-width: 100%; } } 
@keyframes max-height { from { max-height: 0; } to { max-height: 100%; } }
